<div class="p-1 text-center"
    style="border-radius:5px 5px 5px 5px; margin-top: 5px; background-color: cadetblue; color: white">
    <h4>Renkler</h4>
</div>

<div class="spinner-border text-primary" role="status" *ngIf="dataLoaded!==true">
    <span class="visually-hidden">Loading...</span>
</div>

<ul class="list-group">
    <li (click)="setCurrentColor(color)" routerLink="/cars/color/{{color.colorId}}"
        [class]="getCurrentColorClass(color)" *ngFor="let color of colors">
        {{color.colorName}}
    </li>
</ul>