<ol class="list-group">
    <li routerLink="/cars" [class]="getCurrentBrandForAllClass()" id="filterClearBtn" (click)="setOtherCurrentBrand()"
        style="margin: 5px 0px 5px 0px;">Filtreyi
        Sıfırla</li>
</ol>

<div class="p-1 text-center" style="border-radius:5px 5px 5px 5px; color: white; background-color: cadetblue;">
    <h4>Markalar</h4>
</div>


<div class="spinner-border text-primary" role="status" *ngIf="dataLoaded!=true">
    <span class="visually-hidden">Loading...</span>
</div>

<ul class="list-group">

    <li (click)="setCurrentBrand(brand)" routerLink="/cars/brand/{{brand.brandId}}"
        [class]="getCurrentBrandClass(brand)" *ngFor="let brand of brands">
        {{brand.brandName}}
    </li>
</ul>