<div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let imagePath of carDetails.carImages; let i = index"
                        [class.active]="i === 0" data-bs-interval="10000">
                        <img [src]="'https://localhost:44330/static/CarImages/' + imagePath" class="d-block w-100"
                            alt="Araba Resmi">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Önceki</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Sonraki</span>
                </button>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{carDetails.dailyPrice}} <small
                        class="text-muted">/ay</small></h1>
                <div><strong>{{carDetails.carName}}</strong></div>
                <ul class="list-unstyled mt-3 mb-4">
                    <li></li>
                    <li><strong>Marka: </strong>{{carDetails.brandName}}</li>
                    <li><strong>Model: </strong>{{carDetails.modelYear}}</li>
                    <li><strong>Renk: </strong>{{carDetails.colorName}}</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary"
                    (click)="navigateToRentalPage()">Hemen Kirala</button>
            </div>
        </div>
    </div>
</div>