<!-- <button *ngIf="dataLoaded!=true" class="btn btn-primary" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
    <span class="visually-hidden" role="status">Loading...</span>
</button>

<div class="card-deck mb-3 text-center" *ngFor="let car of cars">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <img src="" alt="">
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{car.name}}</h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>10 users included</li>
                <li>2 GB of storage</li>
                <li>Email support</li>
                <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-secondary" (click)="getCarDetailsById()">Araç Detaylarına Git</button>
        </div>
    </div>
</div> -->

<!--***************************************-->
<div class="mb-3">
    <label for="filterText" class="form-label">Araba ara</label>
    <input type="text" [(ngModel)]="filterCar" class="form-control" id="filterText" placeholder="arama ifadesi giriniz">
</div>
<div *ngIf="filterCar.length>2" class="alert alert-primary">
    <strong>{{filterCar}}</strong> arama sonuçları...
</div>

<div class="p-1 text-center " style="border-radius:5px 5px 5px 5px; background-color: cadetblue; color: white;">
    <h4>Arabalar</h4>
</div>

<button *ngIf="dataLoaded!=true" class="btn btn-primary" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
    <span class="visually-hidden" role="status">Loading...</span>
</button>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>MarkaId</th>
            <th>RenkId</th>
            <th>Adı</th>
            <th>Model Yılı</th>
            <th>Günlük Ödeme</th>
            <th>Açıklama</th>
            <th>Detaylar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars">
            <td>{{car.id}}</td>
            <td>{{car.brandId}}</td>
            <td>{{car.colorId}}</td>
            <td>{{car.name}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.dailyPrice}}</td>
            <td>{{car.description}}</td>
            <td><button (click)="navigateToCarDetails(car.id)">Detaylar</button></td>
        </tr>
    </tbody>
</table>


<!------------------------------------------------------------------->

<!-- <div class="row mt-1" style="margin-left: 1%;">
    <div *ngFor="let car of cars" class="card mt-2 mr-2" style="width: 18rem; margin-right: 10px">
        <img *ngIf="car.carImage" [src]="getCarImageUrl(car.carImage)" class="card-img-top" style="object-fit: cover"
            width="100" height="50%">
        <div class="card-body">
            <h4 class="cart-title">{{ car.brandName }}</h4>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <i><b>Model | </b></i>{{ car.carName }}
            </li>
            <li class="list-group-item">
                <i><b>Brand | </b></i>{{ car.brandName }}
            </li>
            <li class="list-group-item">
                <i><b>Color | </b></i>{{ car.colorName }}
            </li>
            <li class="list-group-item">
                <i><b>Daily Price: </b></i>{{ car.dailyPrice + " ₺" }}
            </li>
        </ul>

        <div class="card-body">
            <div class="row">
                <button type="button" class="btn btn-success" routerLink="/cars/carDetails/{{ car.carId }}">
                    Car Details
                </button>
            </div>
        </div>


    </div> -->