<h2>Müşteriler</h2>

<button *ngIf="dataLoaded!=true" class="btn btn-primary" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
    <span class="visually-hidden" role="status">Loading...</span>
</button>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>UserId</th>
            <th>CompanyName</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{customer.id}}</td>
            <td>{{customer.userId}}</td>
            <td>{{customer.companyName}}</td>
        </tr>
    </tbody>
</table>